<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> TOP: Forms Project</title>
  </head>
  <body>

   
  <%= @users.each do |user| %>
    <li>
     <%= link_to user.username, users_url(user) %>
    </li>
    <br>
  <% end %>

<br>

  </body>
</html>